.attribution {
  margin-top: 10px;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
body {
  background-color: rgb(236, 220, 236);
  margin: 0;
  padding: 0;
  font-family: roboto;
  background-image: url(/assets/images/background-pattern-desktop.svg);
  background-size: cover;
}

.faq {
  background-color: white;
  padding: 15px;
  border-radius: 20px;
  max-width: 500px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20%;
}

.heading {
  display: flex;
  align-items: center;
  gap: 20px;
}

.quest {
  display: flex;
  justify-content: space-between;
  gap: 55px;
  padding: 15px 0;
}

.quest h3 {
  margin: 0;
  padding: 0;
}
.front {
  display: flex;
  justify-content: center;
  align-items: center;
}

.qqss {
  border-bottom: solid 1px rgb(122, 120, 120);
}

.qqss:nth-last-child(1) {
  border: none;
}

.answer {
  display: none;
  color: rgb(122, 120, 120);
  width: 100%;
}

/* .answer P {
  padding: 0;
  margin: 0;
} */

.answer.active {
  display: block;
}
